* {
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

header {
  margin: 0 auto;
  width: 88%;
}

.toggle_bar {
  display: none;
}

.header_toggle {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 19px;
}

.header_center_link {
  color: #122025;
  font-weight: 500;
  text-align: center;
  align-items: center;
}
.header_center_link:hover {
  opacity: 0.7;
}

a,
a:focus,
a:hover,
a:visited {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-family: sans-serif;
}

.effect1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #212121;
  bottom: -5px;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.effect1:hover::before {
  transform-origin: 0 0;
  transform: scaleX(1);
}

.header_right {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.lap_x {
  background: #F8FBFB;
  align-items: center;
  border-radius: 50%;
  padding: 20px;
}
.lap_x:hover {
  background: rgba(0, 0, 0, 0.3);
}

.lap_x1 {
  background: #F8FBFB;
  align-items: center;
  border-radius: 50%;
  padding: 20px;
}
.lap_x1:hover {
  background: rgba(1, 1, 1, 0.5);
}

.header_right {
  align-items: center;
}

.text1 {
  font-weight: 700;
  font-size: 33px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.text_center {
  text-align: center;
  position: relative;
  bottom: 19px;
}

.the_best {
  color: #F2C229;
}

.interior {
  color: #122025;
  font-weight: 900;
}

.over {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.play {
  width: 30px;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.btn_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #1C2A2F;
  gap: 10px;
}
.btn_1:hover {
  background-color: #0EBFDD;
  transition: all 1s ease;
  border-radius: 9px;
}

.btn2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 30%;
  justify-content: center;
  padding: 5px;
  border: none;
  background-color: white;
  font-weight: 600;
  border-radius: 5px;
}
.btn2 .watch:hover {
  color: #fff;
}
.btn2:hover {
  background-color: #1C2A2F;
  border-radius: 9px;
  transition: all 1s ease;
}

.all_for_one {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
  margin-top: 4%;
}

.topcorner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.img_contain {
  display: none;
}

.mother_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 60%;
}

.max_text {
  font-weight: 750;
  font-size: 32px;
}

.min_text {
  color: #58666B;
  font-size: 19px;
}

.listing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.qlinks {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.qlinks:hover {
  background-color: #1FB890;
  color: white;
  padding: 0.6rem;
  border-radius: 65px;
  transition: all 0.5s ease;
}

.listing_1 {
  display: none;
}

.check1 {
  display: none;
}

.hamburger1 {
  display: none;
}

.navlo {
  display: none;
}

.btn_lob {
  display: flex;
  justify-content: center;
}

#btn_drive {
  background-color: #122025;
  color: #fff;
  cursor: pointer;
  padding: 13px;
  width: 8rem;
  border-radius: 60px;
  font-size: 14px;
  margin: 0 auto !important;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
#btn_drive:hover {
  color: #122025;
  background: linear-gradient(to left, #fff, #00eebb, rgba(255, 136, 255, 0.7333333333));
  font-weight: 600;
  transition: all 0.6s ease;
}

@-webkit-keyframes example {
  0% {
    background-color: black;
    color: white;
    width: 15rem;
  }
  25% {
    background-color: rgb(146, 146, 21);
    width: 12rem;
  }
  50% {
    background-color: blue;
    color: #fff;
    width: 8rem;
  }
  100% {
    background-color: black;
    color: white;
  }
}

@keyframes example {
  0% {
    background-color: black;
    color: white;
    width: 15rem;
  }
  25% {
    background-color: rgb(146, 146, 21);
    width: 12rem;
  }
  50% {
    background-color: blue;
    color: #fff;
    width: 8rem;
  }
  100% {
    background-color: black;
    color: white;
  }
}
.sign-up {
  font-size: 15px;
  width: 43%;
}

.sectioneh {
  background-color: #FAFAFA;
  margin: 0 auto;
}

.cont_text h3 {
  font-size: 25px;
}

.product {
  display: flex;
  flex-direction: column;
}

.product2 {
  display: flex;
  flex-direction: column;
}

.sub_sect {
  display: flex;
  flex-direction: row;
  gap: 6rem;
}

.paralax1 {
  display: none !important;
}

.sect_sub {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.paralax {
  display: none;
}

.pin {
  font-size: 15px;
}

.lorem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero_text {
  text-align: center;
}

.comment {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
}

.udemy {
  width: 8rem;
}

.jpeg1 {
  display: none;
}

.imgsect1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
}

.imgsect2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero_text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section_5 {
  background-color: #FAFAFA;
  padding: 30px;
}

.parentCity {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 5fr));
  text-align: center;
}

.image_container {
  position: relative;
  cursor: pointer;
}
.image_container:hover .city_name_view_container {
  opacity: 1;
  justify-content: center;
  width: 90%;
  left: 5%;
  height: 98%;
  top: 2px;
}

.city_img {
  justify-content: center;
}
.city_img img {
  border-radius: 3px;
}

.city_img img {
  width: 90%;
}

.city_name_view_container {
  border-radius: 5px;
  position: absolute;
  top: -9%;
  left: 100%;
  bottom: 0%;
  right: 0%;
  height: 100%;
  opacity: 0;
  overflow-x: hidden;
  overflow: hidden;
  justify-content: center;
  transition: 0.5s ease-in-out;
}
.city_name_view_container .city_name_view {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.all_tog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7rem;
}

.foh1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.imh_text {
  width: 70%;
  color: #58666B;
  line-height: 30px;
}

.bbno {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

.foh {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-evenly;
  gap: 50px;
  width: 95%;
  flex-wrap: wrap;
}

hr {
  width: 40%;
  text-align: left;
  margin-right: auto;
}

#wild {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (max-width: 1200px) {
  .image_o {
    width: 109%;
  }
}
@media screen and (max-width: 1250px) {
  .sect_sub {
    display: flex;
    flex-wrap: wrap;
  }

  .sub_sect {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 970px) {
  .header_center {
    display: none;
  }

  .text {
    text-align: center;
  }

  .imgh {
    text-align: center;
  }

  .oyeniyi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .pin {
    text-align: center;
  }

  .jpeg {
    text-align: center;
  }

  .comment {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    justify-content: center;
  }

  .lorem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  .all_for_one {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .img_contain {
    display: none;
  }

  .topcorner {
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }

  .header_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .vr1 {
    display: flex;
    flex-direction: row;
  }

  .sect_sub {
    display: none;
  }

  .paralax {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 4fr));
    margin: 0 auto;
    width: 90%;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .toggle_bar {
    display: block !important;
    width: 20px !important;
    background: #F8FBFB;
    align-items: center;
    border-radius: 93px;
    padding: 20px;
  }
  .toggle_bar:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@media screen and (max-width: 870px) {
  .img_contain {
    display: flex;
    flex-direction: column;
  }

  .image_o {
    display: none !important;
  }
}
.all_tog {
  justify-content: center;
}
.all_tog .dot {
  display: none;
}

@media screen and (max-width: 700px) {
  .listing {
    display: none;
  }

  .jpeg1 {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .jpeg {
    display: none;
  }

  .navul {
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
    margin-top: 40px;
    background: linear-gradient(to right, #444, #999);
    border: 1px solid #1C2A2F;
    border-radius: 30px;
    display: none;
    transition: all 0.5s;
    z-index: 999;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
  }

  .check1 {
    display: none;
  }

  .navul li {
    padding: 1rem 0;
    font: 16px;
  }

  li a {
    color: hsl(233deg, 26%, 24%);
    font-weight: 450;
  }

  li a:hover {
    color: #1FB890;
    font-weight: 600;
    background-color: #F8FBFB;
    padding: 10px;
    border-radius: 40px;
  }

  .navlo ul li a::before {
    opacity: 0;
  }

  #toggle:checked ~ .navul {
    margin: 0 auto;
    width: 70%;
    display: block;
  }

  #toggle:checked ~ .hamburger1 {
    border: 4px solid #1C2A2F;
    border-radius: 10px;
    padding: 0.4rem;
    box-shadow: 2rem;
    cursor: pointer;
  }

  .check1 {
    display: none;
  }

  .hamburger1 {
    display: block;
  }

  .navlo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (max-width: 500px) {
  .lap_x {
    display: none;
  }

  .jpeg {
    display: none;
  }

  .lap_x1 {
    display: none;
  }

  .navlo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navlo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .btn_1 {
    width: 50%;
  }

  .btn2 {
    width: 50%;
  }

  .block {
    text-align: center;
  }

  .udemy {
    width: 6rem;
  }

  .nani {
    width: 19rem;
  }
}
#items img {
  width: 60px;
}

#items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 5fr));
  margin: 0 auto;
  width: 90%;
  justify-content: center;
  text-align: center;
  row-gap: 10px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

#items li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F8FBFB;
  gap: 20px;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 4px;
}
#items li:hover {
  background-color: #666;
  color: white;
}

#item span {
  width: 30px;
}

.hover_google:hover {
  transform: scaleY(1.0099);
  transition: 1s all ease;
}

.google_path {
  cursor: pointer;
}
.google_path:hover {
  fill: #1C2A2F;
  transition: 0.5s all ease;
}

.google_path1 {
  cursor: pointer;
}
.google_path1:hover {
  fill: blue;
  transition: 0.5s all ease;
}

.hover_cour:hover {
  transform: scaleY(1.1);
  transition: 1s all ease;
  cursor: pointer;
}

.cour {
  cursor: pointer;
}
.cour:hover {
  fill: #1C2A2F;
  transition: 0.5s all ease;
}

.cour1 {
  cursor: pointer;
}
.cour1:hover {
  fill: blue;
  transition: 0.5s all ease;
}

.cour_p {
  cursor: pointer;
}
.cour_p:hover {
  fill: #1C2A2F;
  transition: 0.5s all ease;
}

.duolingo {
  cursor: pointer;
}
.duolingo:hover {
  fill: red;
  transition: 0.5s all ease;
}

.micr_hard1 {
  cursor: pointer;
}
.micr_hard1:hover {
  fill: blue;
  transition: 0.5s all ease;
}

.micr_hard2 {
  cursor: pointer;
}
.micr_hard2:hover {
  fill: yellow;
  transition: 0.5s all ease;
}

.micr_hard3 {
  cursor: pointer;
}
.micr_hard3:hover {
  fill: gray;
  transition: 0.5s all ease;
}

.micr_hard4 {
  cursor: pointer;
}
.micr_hard4:hover {
  fill: rgb(4, 4, 23);
  transition: 0.5s all ease;
}

.micr_hard5 {
  cursor: pointer;
}
.micr_hard5:hover {
  fill: rgb(20, 191, 168);
  transition: 0.5s all ease;
}

.udemy {
  cursor: pointer;
}
.udemy:hover {
  fill: #EA5252;
  transition: 0.5s all ease;
}

.udemy0 {
  cursor: pointer;
}
.udemy0:hover {
  fill: #645A53;
  transition: 0.5s all ease;
}

stop:hover {
  stop-color: red;
}

.air1 {
  cursor: pointer;
}
.air1:hover {
  fill: #777;
  transition: 0.5s all ease;
}

.air2 {
  cursor: pointer;
}
.air2:hover {
  fill: rgb(39, 39, 6);
  transition: 0.5s all ease;
}

.air3 {
  cursor: pointer;
}
.air3:hover {
  fill: gray;
  transition: 0.5s all ease;
}

.air4 {
  cursor: pointer;
}
.air4:hover {
  fill: rgb(4, 4, 23);
  transition: 0.5s all ease;
}

.air5 {
  cursor: pointer;
}
.air5:hover {
  fill: rgb(20, 191, 168);
  transition: 0.5s all ease;
}

.path_svg {
  background: #F8FBFB;
  align-items: center;
  border-radius: 50%;
  padding: 20px;
}
.path_svg:hover {
  background-color: #1C2A2F;
}
.path_svg .cart_path {
  background-color: #F8FBFB;
}
.path_svg .cart_path:hover {
  fill: #fff;
  background: #1C2A2F;
}/*# sourceMappingURL=style.css.map */